.overview {
  color: black;
}

.movie {
  display: flex;
}

.movie__poster {
  flex: 1;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 2%;
}

.movie__poster > img {
  width: 100%;
  height: 100%;
}

.movie__info {
  flex: 1;
}

.title {
  font-size: 2.5rem;
  color: #01d277;
  padding: 10px 0;
}

.overview {
  margin: 10px 0;
  font-weight: 500;
}
