.container {
  background-color: aqua;
  display: flex;
  flex: 1 20%;
  margin: 15px 2%;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
}

.movie {
  position: relative;
  background-color: #adaeb9;
  color: black;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.movieInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.1s ease-in-out;
}

.movieInfo:hover {
  background-color: rgba(10, 10, 10, 0.5);
}

.title {
  color: white;
  font-size: 1.1rem;
  text-align: center;
}

.release {
  font-size: 1rem;
  color: #ccc;
  padding: 0.5rem 0;
}

.star__rating {
  display: flex;
  position: relative;
  width: 100%;
  height: 28px;
  color: #c5c5c5;
  font-size: 17px;
  padding-bottom: 0.5rem;
}

.average {
  background-color: brown;
}

.star__top,
.star__bottom {
  display: block;
  left: 15%;
  top: -3px;
}

.star__top {
  position: absolute;
  overflow: hidden;
  color: gold;
  z-index: 1;
}

.star__bottom {
  position: absolute;
}

img {
  background-color: aqua;
  width: 100%;
  height: 100%;
}

.desc {
  white-space: pre-wrap;
}
